@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ScTraining.Models.Carousel>

<div id="owl-demo">
    @foreach (var item in Model.Items)
    {
        <div class="item"><img src="@item.Image.Src" alt="@item.Image.Alt"></div>
    }
</div>