@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sitecore TODO List</title>
    <link href="~/Assets/css/bootstrap.css" type="text/css" rel="stylesheet" />
    @*<link href="~/Assets/css/site.css" type="text/css" rel="stylesheet" />*@
    <link href="~/Assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Assets/css/owl.transitions.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            @Html.Sitecore().Placeholder("content")
        </div>

        @*<div class="row">
                <div class="col-md-4">
                    @Html.Sitecore().Placeholder("leftcol")
                </div>
                <div class="col-md-4">
                    @Html.Sitecore().Placeholder("centercol")
                </div>
                <div class="col-md-4">
                    @Html.Sitecore().Placeholder("rightcol")
                </div>
            </div>*@
    </div>

    <!-- JS -->
    <script src="~/Assets/js/vendor.js"></script>
    <script src="~/Assets/js/main.js"></script>
</body>
</html>